div.indicator
{
	text-align: left;
	padding-bottom: 5px;
}

div.indicator img
{
	float: left;
	padding-right: 10px;
}

div.indicator br
{
	clear: both;
}

div.indicator span.padleft
{
	padding-left: 27px;
}

div.indicator span.hours
{
	padding-left: 27px;
}